html {
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-weight: 400;
  color: #2de1fc;

}

.header {
  background-color: #2de1fc;
}

table {
  text-align: center;
}

@media only screen and (max-width: 650px) {

  .header {
    display: none;
  }

}
