html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 400;
  color: #2de1fc;
  font-size: 3em;
  line-height: 1.25;
  margin-bottom: 0;
}

.header {
  background-color: #2de1fc;
  display: none;
}

th, td {
  text-align: center;
  font-size: .75em;
}

.img-flex {
  width: 100%;
}

.container-ct {
  position: relative;
}

h2 {
  color: #2de1fc;
  font-size: 200%;
  position: absolute;
  top: 23%;
}

.current-temp-icon {
  position: relative;
  left: 65px;
  width: 22%;
}

.weekly-forecast {
  width: 100%;
  margin-top: 2em;
}

.weekly-cards {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: solid white 5px;
}

.long-h5 {
  display: none;
}

.checkbox {
  position: relative;
  margin-bottom: 0.5em;
  line-height: 20px;
}

fieldset :last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  position: absolute;
  /* Match the image dimensions */
  width: 20px;
  height: 20px;
  /* Reset anything that could peek out or interfere with dimensions */
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  opacity: 0;
}

input[type="checkbox"] + label:before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  content: " ";
  vertical-align: top;
}

/* CHECKBOXES */
input[type="checkbox"] + label:before {
  background-image: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><style type="text/css">
  	.st0{fill:#2DE1FC;}
  </style><path class="st0" d="M127.8 175.5c-3.2 0-5.4-1.9-6.2-2.6 -6.4-5.5-12.7-10.3-18.9-14.9 -18.4-13.9-34.3-25.9-35.1-47C67.1 98.1 71.2 87.4 79 80.7c1.4-1.2 9.1-7.3 19.5-7.2 12.2 0.2 23.4 8.3 29.8 20.9 7.7-12.8 20.6-20.4 33.1-18.7 11 1.5 18.2 9.9 19.5 11.6 5 6.3 7.3 14.3 6.9 23.6 -1.1 25.8-26.1 42.5-42.6 53.6 -4.8 3.2-8.9 5.9-11 8 -1.9 1.8-3.9 2.8-6 2.9l0 0C128 175.5 127.9 175.5 127.8 175.5zM98.1 80.6c-7.8 0-13.6 4.6-14.6 5.5 -8.3 7.1-9.1 18.5-8.9 24.6 0.7 17.8 14.6 28.4 32.3 41.7 6.2 4.7 12.7 9.6 19.2 15.2 0.3 0.2 1.1 1 1.7 0.9l0 0c0.6 0 1.2-0.7 1.4-0.9 2.6-2.6 6.8-5.3 12-8.8 15.4-10.3 38.6-25.8 39.5-48.1 0.3-7.6-1.5-14-5.4-19 -0.6-0.8-6.4-7.8-14.9-9 -11.5-1.6-23.8 7.5-29.2 21.6 -0.5 1.4-1.9 2.3-3.4 2.2 -1.5 0-2.8-1-3.2-2.5 -4.2-13.7-15-23.4-26.2-23.5C98.3 80.6 98.2 80.6 98.1 80.6z"/></svg>
}

input[type="checkbox"]:focus + label:before,
input[type="checkbox"]:hover + label:before {
  background-image: url(images/heart-f.svg) ;
}

input[type="checkbox"]:checked + label:before {
  background-image: url(images/heart-f.svg) ;
}
input[type="checkbox"]:checked:focus + label:before,
input[type="checkbox"]:checked:hover + label:before {
  background-image: url(images/heart.svg) ;
}


@media only screen and (min-width: 25em) {
  .current-temp-icon {
    width: 15%;
    left: 65px;
  }

  td > p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 38em) {
  .header {
    display: block;
  }

  .center-block {
    width: 80%;
  }

  .current-temp-icon {
    width: 13%;
    left: 70px;
  }

  .weekly-forecast {
    width: 75%;
    margin: 0 auto;
    margin-top: 2em;
  }

  .short-h5 {
    display: none;
  }

  .long-h5 {
    display: block;
  }
}


@media only screen and (min-width: 60em) {
  .center-block {
    width: 80%;
  }

  .icon-large {
    margin-top: 9em;
  }

  h2 {
    font-size: 250%;
    top: 45%;
  }

  .current-temp-icon {
    left: 100px;
    top: 30%;
    width: 17%;
  }

  .weekly-forecast {
    width: 77%;
  }

  h5 {
    padding-top: .5em;
  }

  td > p {
    font-size: 2em;
  }
}


@media only screen and (min-width: 90em) {
  h1 {
    font-size: 4.5em;
  }

  .icon-large {
    margin-top: 13.5em;
  }

  h2 {
    font-size: 350%;
    top: 35%;
  }

  .current-temp-icon {
    top: 13%;
    left: 105px;
    width: 12%;
  }

  td > p {
    font-size: 2.5em;
  }
}
