html {
  font-family: 'Roboto', sans-serif;

}

h1 {
  font-weight: 400;
  color: #2de1fc;

}

.header {
  background-color: #2de1fc;

}

th, td {

}

@media only screen and (max-width: 25em) {

}

@media only screen and (max-width: 38em) {

  .header {
    display: none;
  }
}

@media only screen and (max-width: 60em) {

}

@media only screen and (max-width: 90em) {

}
